<ion-content padding class="container">
  <ion-card *ngIf="!select" padding>
    <div text-left *ngIf="!select">
      <img src="./assets/logo-completo.png" style="height:80px; width:auto;" *ngIf="!api.url">
      <img [src]="api.url + 'img/logo.png'" style="height:80px; width:auto;" *ngIf="api.url">
    </div>

    <div *ngIf="!api.url">
      <div *ngIf="logins.length === 0">
        <ion-item>
          <ion-label floating>
            <ion-icon name="person" item-left></ion-icon>
            Email
          </ion-label>
          <ion-input (keydown)="keyDownFunction($event)" type="email" [(ngModel)]="api.username" (ionBlur)="getLogins()"></ion-input>
        </ion-item>
        <button color="primary" ion-button class="pull-right">{{'__.siguiente' | trans }}</button>

        <ion-grid>
          <ion-row responsive-sm>
            <ion-col>
              <button hideWhen="android,ios" class="facebook-button" full ion-button icon-left (click)="loginWithFacebook()">
                <ion-icon item-left name="logo-facebook"></ion-icon>
                {{api.trans('literals.login_with_Facebook')}}
              </button>
            </ion-col>
            <ion-col>
              <button hideWhen="android,ios" class="google-button" full ion-button icon-left (click)="loginWithGoogle()">
                <ion-icon item-left name="logo-googleplus"></ion-icon>
                {{api.trans('literals.login_with_Google')}}
              </button>
            </ion-col>
          </ion-row>
        </ion-grid>

      </div>
    </div>

    <ion-list *ngIf="api.url && !smarter">
      <div *ngIf="!forgot">

        <ion-item>
          <ion-label floating>Email</ion-label>
          <ion-input type="email" [(ngModel)]="api.username"> </ion-input>
        </ion-item>

        <ion-item>
          <ion-label floating>Contraseña</ion-label>
          <ion-input type="password" [(ngModel)]="api.password"></ion-input>
        </ion-item>

        <button class="pull-right login-button" ion-button color="primary" icon-right (click)="login()">
          {{ api.trans('__.Iniciar Sesion') }}
        </button>

        <ion-grid *ngIf="!smarter">
          <ion-row responsive-sm>
            <ion-col>
              <button hideWhen="android,ios" class="facebook-button" full ion-button icon-left (click)="loginWithFacebook(false)">
                <ion-icon item-left name="logo-facebook"></ion-icon>
                {{api.trans('literals.login_with_Facebook')}}
              </button>
            </ion-col>
            <ion-col>
              <button hideWhen="android,ios" class="google-button" full ion-button icon-left (click)="loginWithGoogle(false)">
                <ion-icon item-left name="logo-googleplus"></ion-icon>
                {{api.trans('literals.login_with_Google')}}
              </button>
            </ion-col>
          </ion-row>
        </ion-grid>



        <button block clear ion-button color="dark" (click)="forgot=true">
          Olvido su contraseña
        </button>

        <button block small clear ion-button color="danger" (click)="goBack()" *ngIf="!preconfigured">
          Volver
        </button>
      </div>
      <div *ngIf="forgot">
        <ion-item>
          <ion-label floating>Email</ion-label>
          <ion-input type="email" [(ngModel)]="api.username"> </ion-input>
        </ion-item>
        <button style="margin-top:15px" block large ion-button color="secondary" (click)="recover(api.username)">
          Recuperar
        </button>
        <button ion-button clear block color="dark" (click)="forgot=false">
          Volver al login
        </button>

      </div>
    </ion-list>
  </ion-card>

  <ion-card *ngIf="select">
    <ion-list [@list]="logins.length">
      <ion-item-divider class="item" @item (click)="selectServer(user)" *ngFor="let user of logins">
        <ion-thumbnail item-left>
          <img [src]="user.url + 'img/icon.png'" onerror="this.style.display == 'none'">
        </ion-thumbnail>
        <h2>{{user.site}}</h2>
        <h3>{{user.name}}</h3>
        <!-- <ion-note>{{user.name}}</ion-note> -->
        <ion-icon item-right large color="primary" name="log-in"></ion-icon>
      </ion-item-divider>
    </ion-list>
  </ion-card>
</ion-content>
