page-my-reservations {
  .approved{
    background-color: color($colors,'secondary');
  }
  .waiting{
    background-color: color($colors,'warning');
    color:black;
  }
  .cancelled{
    background-color: color($colors,'danger');
  }
}
