<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{'literals.surveys' | trans }}</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col col-auto>
        <ion-card>
          <ion-list>
            <button (click)="gotoSurvey(survey)" ion-item *ngFor="let survey of surveys">
              <h4 text-center text-primary>{{survey.title}}</h4>
              <p>{{survey.question}}</p>
            </button>
          </ion-list>
        </ion-card>
      </ion-col>
      <ion-col col-6 *ngIf="!mobile">
        <survey *ngIf="survey" [survey]="survey"></survey>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
