<ion-header>

  <ion-navbar>

    <ion-title> {{('crud.' + (ticket.id ? 'edit' : 'add')) | trans }} {{ 'literals.ticket' | trans
      }} </ion-title>
    <ion-buttons end>
      <button ion-button icon-only clear (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-label floating>{{'literals.subject' | trans }}</ion-label>
      <ion-input [(ngModel)]="ticket.subject"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>{{'literals.text' | trans }}</ion-label>
      <ion-textarea [(ngModel)]="ticket.text"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label floating>{{'literals.category' | trans }}</ion-label>
      <ion-select [(ngModel)]="ticket.category" [disabled]="ticket.id">
        <ion-option *ngFor="let category of categories" [value]="category">
          {{'literals.' + category | trans }}
        </ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label floating>{{'literals.status' | trans }}</ion-label>
      <ion-select [(ngModel)]="ticket.status" [disabled]="!ticket.id">
        <ion-option *ngFor="let status of statuses" [value]="status">
          {{'literals.' + status | trans }}
        </ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <input type="file" name="" id="input-file-ticket" style="display:none;" (change)="readFile($event)">
      <button ion-button (click)="askFile()" *ngIf="!ticket.id || !ticket.file_id" block color="light">
        <span *ngIf="!file">
          {{'crud.upload' | trans }} {{'literals.file' | trans }}
        </span>
        <span *ngIf="file">
          {{file_name}}
        </span>
      </button>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <button ion-button block color="secondary" (click)="save()" [disabled]="!canSave() || loading">
      {{'crud.save' | trans }}
    </button>
  </ion-toolbar>
</ion-footer>
