<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-slides style="height:33%" pager paginationType="bullets" autoplay="3000" *ngIf="sliders.length > 0">
    <ion-slide *ngFor="let slider of sliders">
      <img src="{{slider.image.url}}" alt="{{slider.name}}" style="height:100%; width:100%">

      <h2 style="position:absolute; top:25%; left:27%; color:white">{{slider.name}}</h2>
      <p style="position:absolute; top:35%; left:27%; color: white">{{slider.text}}</p>

    </ion-slide>
  </ion-slides>
  <h2 ion-text color="primary" text-center>{{ text | trans }}</h2>
  <ion-item>
    <ion-label floating>text</ion-label>
    <ion-input type="text" [(ngModel)]="text"></ion-input>
  </ion-item>
</ion-content>
