<ion-header>

  <ion-navbar color="favorite">
    <button ion-button menuToggle icon-only>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ post.title }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title> {{post.title}} </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div text-center *ngIf="post.image">
        <img [src]="post.image.url" style="margin: 0 auto; max-width:100%;">
      </div>
      <div [innerHTML]="post.text" text-justify>
      </div>
      <ion-chip *ngFor="let tag of post.tags;let i = index">
        <ion-label>
          {{tag.name}}
        </ion-label>
      </ion-chip>
      <ion-item *ngIf="post.user" text-justify>
        <ion-avatar item-left>
          <img [src]="post.user.image_url" alt="profile" style="width:40px;height:40px; border-radius:50%">
        </ion-avatar>
        <p *ngIf="post.user">
          {{post.user.name}}
        </p>
        <small>
          {{post.created_at | amCalendar}}
        </small>
        <button *ngIf="api.user.id == post.user_id" (click)="deletePost()" ion-button icon-only clear color="danger">
          <ion-icon name="trash"></ion-icon>
        </button>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>
