// http://ionicframework.com/docs/v2/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
@import "../../node_modules/ionic2-auto-complete/auto-complete";
@media (min-width: 600px) {
  .container {
    .scroll-content {
      text-align: center;
      padding-left: 15% !important;
      padding-right: 15% !important;
    }
  }
}

.fullScreen {
  .popover-content {
    width: 90%;
    left: 5% !important; // min-height: 50%;
  }
}

.icon-primary {
  ion-icon {
    color: color($colors, "primary");
  }
}

.icon-secondary {
  ion-icon {
    color: color($colors, "secondary");
  }
}

.icon-danger {
  ion-icon {
    color: color($colors, "danger");
  }
}

.icon-favorite {
  ion-icon {
    color: color($colors, "favorite");
  }
}

.user-info {
  background-image: url("../assets/background-user.png");
  background-size: cover; // height: 100px;
  text-align: center;
  height: 150px;
  color: white;
  .avatar-user {
    height: 50px;
    width: 50px;
    border-radius: 50%;
  }
}

ion-toast {
  &.approved {
    .toast-container {
      background-color: color($colors, "secondary");
      color: white;
    }
  }
  &.rejected {
    .toast-container {
      background-color: color($colors, "danger");
      color: white;
    }
  }
}

#full-calendar {
  padding-top: 30px;
}

#calendar h2 {
  font-size: 1.5rem;
  text-transform: uppercase;
  line-height: 35px;
}

#calendar .fc-day-header {
  text-transform: uppercase;
  font-weight: 400;
}

#external-events {
  padding-top: 50px;
}

#external-events .fc-event {
  color: #fff;
  text-decoration: none;
  padding: 5px;
  margin-bottom: 10px;
  cursor: all-scroll;
  border: none;
}

.fc button {
  background: #fff;
}

.fc td,
.fc th {
  border-width: 0px !important;
}

.fc-state-active,
.fc-state-down {
  color: #ff4081 !important;
}

.pulse {
  border: none;
  box-shadow: 0 0 0 0 rgba(232, 76, 61, 0.7);
  cursor: pointer;
  -webkit-animation: pulse 4.5s infinite cubic-bezier(0.66, 0, 0, 1);
  -moz-animation: pulse 4.5s infinite cubic-bezier(0.66, 0, 0, 1);
  -ms-animation: pulse 4.5s infinite cubic-bezier(0.66, 0, 0, 1);
  animation: pulse 4.5s infinite cubic-bezier(0.66, 0, 0, 1);
}

.pulse:hover {
  -webkit-animation: none;
  -moz-animation: none;
  -ms-animation: none;
  animation: none;
}

@-webkit-keyframes pulse {
  to {
    box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);
  }
}

@-moz-keyframes pulse {
  to {
    box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);
  }
}

@-ms-keyframes pulse {
  to {
    box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);
  }
}

@keyframes pulse {
  to {
    box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);
  }
}

.toolbar-title {
  color: color($colors, "favorite");
}

// FAB STUFFS
.fab-label-button {
  .label {
    position: absolute;
    background: #222;
    color: white;
    padding: 4px 8px;
    border-radius: 5px;
    right: 65px;
    white-space: nowrap;
    animation: backwards 0.7s fadeIn;
  }
}

.fab-label-button:nth-child(1) {
  .label {
    bottom: 15px;
    animation-delay: 0s;
  }
}

.fab-label-button:nth-child(2) {
  .label {
    bottom: 70px;
    animation-delay: 0.1s;
  }
}

.fab-label-button:nth-child(3) {
  .label {
    bottom: 125px;
    animation-delay: 0.2s;
  }
}

.fab-label-button:nth-child(4) {
  .label {
    bottom: 180px;
    animation-delay: 0.3s;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

//Skeleton Implementation
[skeleton],
.skeleton {
  margin: auto;
  width: 500px;
  height: 600px;
  /* change height to see repeat-y behavior */
  background-image: radial-gradient(
      circle 50px at 50px 50px,
      lightgray 99%,
      transparent 0
    ),
    linear-gradient(
      100deg,
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0.5) 50%,
      rgba(255, 255, 255, 0) 80%
    ),
    linear-gradient(lightgray 20px, transparent 0),
    linear-gradient(lightgray 20px, transparent 0),
    linear-gradient(lightgray 20px, transparent 0),
    linear-gradient(lightgray 20px, transparent 0);
  background-repeat: repeat-y;
  background-size: 100px 200px, /* circle */ 50px 200px,
    /* highlight */ 150px 200px, 350px 200px, 300px 200px, 250px 200px;
  background-position: 0 0, /* circle */ 0 0, /* highlight */ 120px 0,
    120px 40px, 120px 80px, 120px 120px;
  animation: shine 1s infinite;
}
@keyframes shine {
  to {
    background-position: 0 0, 100% 0, /* move highlight to right */ 120px 0,
      120px 40px, 120px 80px, 120px 120px;
  }
}

.skeleton-image {
  background-color: #f5f5f5;
  height: 20rem;
  margin: 16px;
  $from: #f5f5f5;
  $to: scale-color($from, $lightness: -10%);
  background: linear-gradient(-90deg, #efefef 0%, #fcfcfc 50%, #efefef 100%);
  background-size: 400% 400%;
  animation: shine-line 1s ease-in-out infinite alternate;
}

.skeleton-title {
  background-color: #f5f5f5;
  height: 16px;
  margin: 16px;
  $from: #f5f5f5;
  $to: scale-color($from, $lightness: -10%);
  background: linear-gradient(-90deg, #efefef 0%, #fcfcfc 50%, #efefef 100%);
  background-size: 400% 400%;
  animation: shine-line 1s ease-in-out infinite alternate;
}

.skeleton-line {
  margin: 8px 16px 8px 16px;
  height: 1rem;
  background-color: #f5f5f5;
  $from: #f5f5f5;
  $to: scale-color($from, $lightness: -10%);
  background: linear-gradient(-90deg, #efefef 0%, #fcfcfc 50%, #efefef 100%);
  background-size: 400% 400%;
  animation: shine-line 1s ease-in-out infinite alternate;
}

@keyframes shine-line {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: -50% 0%;
  }
}
