<!-- <ion-split-pane> -->
<ion-menu [content]="content" [enabled]="api.user" class="no-printable">

  <ion-header>
    <div class="user-info" padding>
      <ion-fab bottom left *ngIf="siteHas('panic')">
        <button ion-fab color="danger" xclass="pulse" (click)="!disable_panic && panic()">
          <ion-icon name="help-buoy"></ion-icon>
        </button>
      </ion-fab>

      <img *ngIf="api.user" [src]="api.user.image_url" class="avatar-user" (click)="openPage({component:'ProfilePage'})" menuClose>
      <h5 text-center *ngIf="api.user">{{api.user.name}}</h5>
      <div bottom right style="bottom:0px; right:0px; position:absolute;">
        <button (click)="see_residences=!see_residences" color="light" ion-button icon-right clear>
          {{api.residence?.name}}
          <ion-icon [name]="see_residences? 'arrow-dropdown' :'arrow-dropleft'"></ion-icon>
        </button>
      </div>
    </div>
  </ion-header>
  <ion-content>
    <ion-list *ngIf="!see_residences">
      <button menuClose text-capitalize ion-item (click)="backToHome()">
        <ion-icon name="home" item-left color="grey"></ion-icon>
        {{ api.trans('literals.home')}}
      </button>
      <ng-container *ngFor="let p of pages">
        <button menuClose text-capitalize ion-item (click)="openPage(p)" *ngIf="siteHas(p.siteHas)">
          <ion-icon [name]="p.icon" item-left color="grey"></ion-icon>
          {{ api.trans('literals.' + p.title)}}
          <ion-badge item-right *ngIf="p.beta" color="secondary">BETA</ion-badge>
        </button>
      </ng-container>
      <ion-item-divider color="light">
        <ion-icon name="settings" small item-right></ion-icon>
        {{ 'literals.settings' | trans }}
      </ion-item-divider>
      <button menuClose text-capitalize ion-item (click)="openPage({component:'AboutPage'})">
        <ion-icon item-left name="information-circle"></ion-icon>
        {{ api.trans('literals.about')}}
      </button>
      <button menuClose text-capitalize ion-item (click)="logout()">
        <ion-icon item-left name="log-out"></ion-icon>
        Cerrar Sesión
      </button>
    </ion-list>
    <ion-list *ngIf="see_residences">
      <ion-list-header>
        {{api.trans('literals.my')}} {{api.trans('literals.residences')}}
      </ion-list-header>
      <button [disabled]="res.id == api.residence.id" menuClose ion-item (click)="changeResidence(res)" *ngFor="let res of api.user.residences"
        icon-left>
        <ion-icon name="home" color="grey"></ion-icon>
        {{res.name}}
      </button>
    </ion-list>
  </ion-content>
</ion-menu>
<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" main #content swipeBackEnabled="false"></ion-nav>
<!-- </ion-split-pane> -->
<ion-footer *ngIf="api.Echo && !api.Echo.connector.socket.connected">
  <ion-toolbar color="danger">
    <p ion-text color="light">{{'__.Error en la conexion con el servidor' | trans }}</p>
  </ion-toolbar>
</ion-footer>
