<ion-menu type="push" side="right" [content]="chatPage">
  <ion-content>
    <ion-list>
      <ion-list-header text-capitalize>
        <ion-icon small color="primary" name="chatbubbles"></ion-icon>
        {{'literals.chats' | trans }}
      </ion-list-header>
      <button ion-item *ngFor="let chat of api.chats" (click)="selectChat(chat)">
          {{chat.title}}
          <ion-badge item-end *ngIf="chat.unread" >{{ chat.unread }}</ion-badge>
        </button>
    </ion-list>
  </ion-content>
</ion-menu>

<ng-template #chatPage>

  <ion-header>

    <ion-navbar color="favorite">
      <button ion-button menuToggle icon-only>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title text-capitalize>{{ 'literals.chats' | trans }}</ion-title>
    </ion-navbar>
  </ion-header>


  <ion-content>
    <ion-list inset #chatBody *ngIf="chat" class="chat-body">
      <ion-list-header>
        <b>{{chat.title}}</b>
      </ion-list-header>
      <div text-center *ngIf="loading">
        <ion-spinner color="primary"></ion-spinner>
      </div>
      <div *ngFor="let msg of messages">
        {{msg.body}}
      </div>
    </ion-list>
  </ion-content>


  <ion-footer>
    <ion-grid>
      <ion-row>
        <ion-col col-11>
          <input type="text" class="text-input" #chatInput [(ngModel)]="message" [placeholder]="api.trans('__.type here')">
        </ion-col>
        <ion-col col-1>
          <button [disabled]="sending" clear icon-only ion-button (click)="send()" color="primary">
          <ion-icon name="send" *ngIf="!sending" ></ion-icon>
          <ion-spinner *ngIf="sending" ></ion-spinner>
        </button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-footer>

</ng-template>
