<ion-header>
  <ion-navbar color="primary">
    <button  ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ticket.subject}}</ion-title>
  </ion-navbar>

</ion-header>
<ion-content padding>

  <ion-card>
    <ion-card-header>
      {{ticket.subject}}
    </ion-card-header>
    <ion-card-content>
      <div [innerHTML]="ticket.text"></div>
    </ion-card-content>
  </ion-card>

  <p>
    <b><span ion-text color="primary">{{'literals.status' | trans }}</span></b>
    <span>{{'literals.'+ ticket. status | trans }}</span>
  </p>

  <ion-card *ngIf="ticket.comments" >
    <ion-card-title> {{'literals.comments' | trans }}</ion-card-title>
    <ion-list>
      <ion-item *ngFor="let comment of ticket.comments">
        {{ comment.text }}
      </ion-item>
    </ion-list>
  </ion-card>
</ion-content>
