<ion-header>
  <ion-navbar color="secondary">
    <ion-title>
      <span *ngIf="!vehicle.id">
        {{'crud.add' | trans }}
      </span>
      <span *ngIf="vehicle.id">
        {{'crud.edit' | trans }}
      </span> {{ 'literals.vehicle' | trans }}
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-list>
    <ion-item>
      <!-- <ion-icon name="" item-left></ion-icon> -->
      <ion-label floating="">{{ 'literals.make' | trans }}</ion-label>
      <ion-input [(ngModel)]="vehicle.make"></ion-input>
    </ion-item>
    <ion-item>
      <!-- <ion-icon name="" item-left></ion-icon> -->
      <ion-label floating="">{{'literals.model' | trans }}</ion-label>
      <ion-input [(ngModel)]="vehicle.model"></ion-input>
    </ion-item>
    <ion-item>
      <!-- <ion-icon name="" item-left></ion-icon> -->
      <ion-label floating="">{{'literals.plate' | trans }}</ion-label>
      <ion-input [(ngModel)]="vehicle.plate"></ion-input>
    </ion-item>
    <ion-item>
      <!-- <ion-icon name="" item-left></ion-icon> -->
      <ion-label floating="">{{'literals.color' | trans }}</ion-label>
      <ion-input [(ngModel)]="vehicle.color"></ion-input>
    </ion-item>
    <ion-item>
      <!-- <ion-icon name="" item-left></ion-icon> -->
      <ion-label floating="">{{'literals.type' | trans }}</ion-label>
      <ion-select [(ngModel)]="vehicle.type">
        <ion-option value="car">{{'literals.car' | trans }}</ion-option>
        <ion-option value="moto">{{'literals.moto' | trans }}</ion-option>
        <ion-option value="van">{{'literals.van' | trans }}</ion-option>
        <ion-option value="bicycle">{{'literals.bicycle' | trans }}</ion-option>
        <ion-option value="boat">{{'literals.boat' | trans }}</ion-option>
        <ion-option value="golf cart">{{'literals.golf cart' | trans }}</ion-option>
        <ion-option value="bus">{{'literals.bus' | trans }}</ion-option>
        <ion-option value="ambulance">{{'literals.ambulance' | trans }}</ion-option>
      </ion-select>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <button ion-button full [disabled]="!canSave()" color="secondary" icon-left (click)="save()">
      <ion-icon class="fa fa-save"></ion-icon>
      {{'crud.save' | trans }}
    </button>
  </ion-toolbar>
</ion-footer>
